body {
    width: 80em;
    margin: auto;
}

.post {
    display: grid;
    grid-template-columns: 20em 1fr;
}

.post > .post-author {
    grid-column: 1 / 2;
}

.post > .post-content {
    grid-column: 2 / 3;
}

.post-content .timestamp {
    float: right;
}

.reply {
    margin-left: 20em;
}

form label, input {
    display: block;
}
